<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cafedra.Properties.Settings.user60" connectionString="Data Source=stud-mssql.sttec.yar.ru,38325;Persist Security Info=True;User ID=user60_db;Password=user60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>